body {

      background-color:cyan;
}
h1   {color: blue;
      margin: 10px; }

#p01    {

border: 1px solid black;
       margin: 50px;
       padding: 10px;

color: red;text-align:center;

}

#p02    {

border: 1px solid black;
       margin: 50px;
       padding: 10px;

color: red;text-align:center;

}

